.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    padding: 10px;
    
    
}
.card-component{
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.card-container .image{
    
    height: 290px;
    
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}
.caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgba(0,0,0,0.7);
}
.details{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    color: rgba(0,0,0,0.7);
}
