.loan-form{
    background-color: rgba(239, 241, 240, 0.3);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.processing{
    font-family: Arial, Helvetica, sans-serif;
}

.spinner-container{
    display: flex;
    flex-direction: column;;
    align-items: center;
    margin-top: 1rem;
}
.spinner{
    border: 7px solid;
    border-radius: 50%;
    border-image: linear-gradient(to right, grey, gray, whitesmoke, black);
    width: 40px;
    height: 40px;
    animation: spin .9s linear infinite;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}