.navbar{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-brand a {
    color: #374151;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.menu-toggle{
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: rgb(17, 17, 17);
    cursor: pointer;
}
.navbar-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
.navbar-links a{
    color: #374151;
    text-decoration: none;
    font-size: 1rem;
}
.navbar-links a:hover{
    text-decoration: underline;
}

@media(max-width: 780px)
{
    .menu-toggle{
        display: block;
        margin-left: auto;
    }

    .navbar-links{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar-links li{
        padding: .5rem 0;
    }
}