.tracking-card .image{
    width: 100%;
    height: 200px;
}
.tracking-card .image img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    
}
.tracking-card h1{
    color: #47281D;
    font-weight: 500;
    padding: 1px 8px;
}
.caption div{
    color: grey;
    font-weight: 200;
    padding: 5px 8px;
}
.tracking-card{
    border: .5rem;
    box-shadow: 0 2px 4px black;
    border-radius: .5rem;
    
}